# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias y Build
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- IMPORTANTE: Ignorar Base de Datos Local ---
# Esto hace que NO se suba tu archivo con datos de prueba.
# Render creará uno nuevo y vacío.
*.db
sql_app.db
backend/credentials.json