@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos extra para barras de scroll bonitas (Opcional pero recomendado) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f5f9; 
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8; 
}